.answers-questions {
    background: $colorWtite;
    .container {
        padding: 124px 40px 131px 40px;
        }
    &__title--wrap {}
    
    &__title {
        @include fontCormorant-title (45px,#161D27);
        text-transform: capitalize;
        text-align: center;
        }

    &__block-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        flex-wrap: wrap;
        }
    &__items {
        width: 100%;
        // border: 1px dashed red;
        
        &-attorney--wrap {
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly; 
            position: relative;
             &:hover .answers-questions__media--wrap {
                display: block;
            }
        }}
        &__attorney { 
            background-color: $colorOlive;
                
            &-photo {
            width: 100%;
            }
            &-img {
            width: 100%;
            }
            &-name--wrap{}

            &-name {
            @include fontCormorant-text (30px, 30px, $colorBlack);
            // margin-bottom: 10px;
            }
            &-position {
            @include fontOutfit (20px, 30px, $colorOlive);
            }
        }

     

    &__media--wrap {
        display: none;
        width: 217px;
        height: 66px;
        position: absolute;
        bottom: 72px;
        left: 95px;
    }
    &__media-list {
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        padding: 20px;
        border: 3px solid $colorOlive;
        background-color: $colorOlive;
        transition: background-color 0.2s easy-in-out;
    }
    &__media-list:hover {
        background-color: $colorOlive ;
    }
    &__media-link:hover {
        .answers-questions__media-icon {path { fill: rgb(204, 76, 53);}}    
    }
    &__media-icon {
        path { fill: #1F2732;}
    }
}
    .answers-questions__media-items:active {
}




    

