
.banner {
        height: 100vh;
        background-image: linear-gradient( to right, rgba(66, 55, 55, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
        background-position: center;
        background-size: cover; 
        width: 100%;
    .container {
        padding: 260px 25px 100px 25px;

    }
    &__block-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 100px 0 0 0;
    }
    &-item {

        &__info{
    }
        &__photo {
        background: transparent;
        width: 672px;
        height: 708px;
    }
        &__img {
        max-width: 100%;
        min-height: 100%;
    }
    
        &__descr-title {
        font-family: 'Cormorant Garamond';
        font-weight: 400;
        font-size: 65px;
        line-height: 78px;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        margin-bottom: 21px;
        }
        &__descr-text {
        font-family: 'Outfit';
        font-weight: 400;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 0.4px;
        color: #D1B06B;
        margin-bottom: 28px;
}
    }








}



