
.banner {
        //  
        background-image: linear-gradient( to right, rgba(66, 55, 55, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
        background-position: center;
        background-size: cover; 
        width: 100%;
    .container {
        padding: 320px 5px 0 40px;
    }
    &__frame {
        margin: 90px 0 15px 0 ;
    }
    &__block-grid {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 1fr;
    }
    &-item {

        &__info{

    }
        &__photo {
        background: transparent;
        width: 672px;
        height: 708px;
    }
        &__img {
        max-width: 100%;
        min-height: 100%;
    }
    
        &__descr-title {
        @include fontCormorant-title (65px, $colorWtite);
        line-height: 78px;;
        margin-bottom: 21px;
        }
        &__descr-text {
            @include fontOutfit (22px,40px, $colorOlive);
            margin-bottom: 28px;
        }
    }

}



