.blogs {
    background: #1F2732;
    .container {
        padding: 140px 25px 140px 25px;
    }
    &__title-main {
    font-family: $fontCormorant;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    }
    &__description--wrap {
        display: flex;
        padding-bottom: 100px;
        border-bottom: 1px solid #4E555F;
        
    }
    &__photo--wrap {
        width: 50%;

    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__info-block{
        &--wrap {
            width: 50%;
        padding: 70px 35px 192px 50px;
        }
    }
}

.info-block {
    &__note {
        @include fontOutfit-oliv (21px);
        padding: 10px 50px 10px 10px;
}

    &__title {
        font-family: $fontCormorant;
        font-weight: 400;
        font-size: 45px;
        letter-spacing: 0.4px;  
        color: #FFFFFF;
        margin: 25px 0 21px 0;
    }
    &__text {
        @include fontOutfit-white (21px, 32px);
        margin-bottom: 17px;
    }
    &__link {
        font-family:$fontOutfit;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        color: #D1B06B;
        text-decoration: underline;
    }
&__link:hover, &__link:active  {
    color:wheat;

}
}








.blogs-post{
    &__block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 0.8fr 1fr 0.8fr;
    gap: 20px 20px;
    padding: 100px 0 140px 0;
    }
    &__item {
    // border: 1px solid red;
    padding: 5px;

        &-picture--first {
            }
        &-picture--second {

            }
        &-picture--third {

            }
        &-picture--narrow  {
            padding: 25px;
            }
    }
    &__picture {
        width: 100%;
        height: 367px;
        }
    &__subtitle {
        @include fontOutfit-oliv (21px, 34px);
        margin: 10px 0;
    }
    &__title {
        @include fontCormorant-title (30px);
        color:$colorWtite;
        margin-bottom: 22px;
    }
    &__descr {
        @include fontOutfit-white(20px, 32px);
        margin-bottom: 25px;
    }
    &__link-secondary {
        @include fontOutfit-oliv(22px);
        margin-bottom: 17px;
        text-decoration: underline;
    }
                    
    &__link-secondary:hover, &__link-secondary:active  {
        color:wheat;
    
}
}    





