.blogs {
    background: #1F2732;
    .container {
        padding: 140px 25px 100px 25px;
    }
    &__title-main {
        font-family: $fontCormorant;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    }
    &__description--wrap {
        display: flex;
    }
    &__photo--wrap {}
    &__img {}
    &__info-block{
        &--wrap {
        padding: 70px 35px 192px 50px;
            
        }
        

    }

}
.info-block__part-little {
    border-bottom: 1px solid #4E555F;
    display: flex;
}
.part-little__text {
    font-family: $fontOutfit;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.4px;
    background: #1F2732;
    padding: 10px 50px 10px 10px;
    color: #D1B06B;
    border-bottom: none;
    border-left: none;
    border-bottom: none;
}
.part-little__text:last-child {
    border-right: none;
}
.info-block__part-large {}
.part-large__title {
    font-family: $fontCormorant;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 0.4px;  
    color: #FFFFFF;
    margin: 25px 0 21px 0;

}
.part-large__text {
    font-family: $fontOutfit;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
    margin-bottom: 17px;


}
.part-large__link {
    font-family:$fontOutfit;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #D1B06B;
    text-decoration: underline;
}
.part-large__link:hover, .part-large__link:active  {
    color:wheat;

}


