.blogs {
    background: #1F2732;
    .container {
        padding: 140px 40px 25px 40px;
    }
    &__title-main {
        @include fontCormorant-title (45px, $colorWtite);
        // color: $colorWtite;
        text-align: center;
    }
    &__description--wrap {
        display: flex;
        padding-bottom: 100px;
        border-bottom: 1px solid #4E555F;
        
    }
    &__photo--wrap {
        width: 50%;

    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__info-block{
        &--wrap {
        width: 50%;
        padding: 70px 35px 192px 50px;
        }
    }
}

.info-block {
    &__note {
        @include fontOutfit (21px, 0, $colorOlive);
        padding: 10px 50px 10px 10px;
}

    &__title {
        // color: #FFFFFF;
        @include fontCormorant-title (45px, $colorWtite);
        margin: 25px 0 21px 0;
    }
    &__text {
        @include fontOutfit (21px, 32px, $colorWtite);
        margin-bottom: 17px;
    }
    &__link {
        @include fontOutfit (22px, 17px, $colorOlive);
        text-transform: capitalize;
        text-decoration: underline;
    }
&__link:hover, &__link:active  {
    color:wheat;
    }
}



.blogs-post{
    &__block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 0.8fr 1fr 0.8fr;
    gap: 20px 20px;
    padding: 100px 0 0 0;
    
    
    }
    &__item {
    // border: 1px solid red;
    padding: 5px;
   
       

        &-picture--first {
            }
        &-picture--second {

            }
        &-picture--third {

            }
        &-picture--narrow  {
            padding: 25px;
            }
    }
    &__picture {
        width: 100%;
        height: 367px;
        display: inline-block;
        transition: all 0.7s ease;
       &:hover {
        transform: scale(-1, 1.1)
    }
        }   
    &__subtitle {
        @include fontOutfit (21px, 34px, $colorOlive);
        margin: 10px 0;
    }
    &__title {
        @include fontCormorant-title (30px, $colorWtite);
        margin-bottom: 22px;
    }
    &__descr {
        @include fontOutfit (20px, 32px, $colorWtite);
        margin-bottom: 25px;
    }
    &__link-secondary {
        @include fontOutfit (22px, 0, $colorOlive);
        margin-bottom: 17px;
        text-decoration: underline;
    }
                    
    &__link-secondary:hover, &__link-secondary:active  {
        color:wheat;
    
}
}    





