.contact-us {
    background-color: $colorBlueDark;

    .container {
        padding: 150px 40px;
    }

    &__offer--wrap {
        width: 100%;
        display: flex;
    }
    &__offer--left-part {
        width: 50%;
        margin-right: 65px;
    }
    &__offer--right-part {
        width: 50%;
    }
    &__title {
        @include fontCormorant-title (45px);
        line-height: 58px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    &__descr {
        @include fontOutfit-white (20px, 32px);
        color: #D7D7D7;
        margin-bottom: 37px;
    }
    &__offer--right-part {
        background-color:$colorWtite;
        width: 50%;
    }
    &__offer--wrap-greyBorderBlock {
        border: 15px solid #D7D7D7;;
        width: 550px;
        height: 410px;
        margin: 0 auto;
        position: relative;
        top: 40px;
        padding: 70px 37px 78px 27px;
    }
    &__title-secondary {
        @include fontCormorant-title (42px);
        color: #1F2732;
        margin-bottom: 12px;
    }
    &__descr--right-part {
        color: #909090;
        margin-bottom: 37px;
    }
    &__phon-group--wrap {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
 
    }

    &__phon-icon--wrap {
        background-color: $colorOlive;
        width: 70px;
        height: 70px;
        padding: 22px;

    }
    &__phon-img {
        width: 27px;
        height: 27px;
    }
    &__phon-descr {
        @include flexColumn;
        gap: 10px;
    }
    &__phon-text {
        @include fontOutfit-white (18px, 22px);
        color: #1F2732;
        }

    &__phon-number {
        @include fontOutfit-oliv (30px, 42px);
        color: #1F2732;
    }
}