.block-photo {
    background:url(../images/footer/footer_photo.png);
    background-size:cover;
    background-repeat: no-repeat;

    .container {
        width: 100%;
        height: 248px;
    }
}

// footer cection start

.footer {
    background: #1F2732;
    
    .container {
        padding: 130px 40px 100px 40px;
    }
    &__logo-block {
        width: 100%; 
        display: flex;
        align-items:center;
        justify-content: center;
    }

    &__item {
        width: calc(100%/3);
    }
    &__item--center {

    }
    &__logo-img {
    }

    &__frame-left {
        margin: auto;
        width: 100%;
    }
    &__frame-right {
        margin: auto;
        width: 100%;
    }
    &-navigation {
        &--wrap {
            padding: 93px 0 84px 0;
            display: flex; 
            justify-content: space-between;
            width: 100%;
            gap: 10px; 

        }
        &__chapter-block {
            display: flex;

            flex-direction: column;
            gap: 45px 35px;

            &--wide {
            }
        }
        &__title {
            display: inline-block;
            @include fontCormorant-title (30px, $colorWtite);
            border-bottom: 1px solid #3B434E;
            border-top: 1px solid #3B434E;
            padding: 25px 0;
        }

        &__chapter {
            &--wrap {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                gap:25px;}
       
            &-items {}
            
            &-list {
                padding: 10px ;
                margin-bottom: 15px; 
            }
            // &-list:first-child {
            //     padding: 40px 20px 20px 15px ;
            // }
            &-list:last-child {
                // padding: 20px 20px 85px 20px ;
                margin-bottom: 0;
            }
            &-link {
                @include fontOutfit (20px, 0, $colorWtite);
            }
        }
    }}
    .footer {
        &__finished-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #3B434E;
        border-bottom: 1px solid #3B434E;
        } 
        &-coppiraght {
            display: inline-block;
            width: 80%;
            padding: 20px 0;
            &__text { 
                display: inline-block;
            @include fontOutfit (20px, 32px, $colorWtite);
            }
        }
        &__word-oliv {
            display: inline-block;
            @include fontOutfit (20px, 32px, $colorWtite);
            &:hover {
                color: $colorOlive;
            }

        }
    }

    .footer-media{
        &--wrap {
            display: flex;
            align-items: center;
        }
        &__descr {
            padding: 25px;
            }
        &__text {
            @include fontOutfit (20px, 0, $colorOlive);
        }
        &__list {
            display: flex;
            align-items:center;
            justify-content: space-evenly;
            

            &-wrap {
            } 
            &-items {
                padding: 25px 10px;
            } 
            &-link:hover {
                .footer-media__list-icon {
                    path { fill:$colorOlive;
                    }
                }
            }

            &-icon {
                path {
                    fill:#FFFFFF;
                }
            }
        }   
    }
    .footer-media__list-icon {
    path {
        fill:#FFFFFF;
        }
    

}