.partners {
    .container {
    padding: 80px 110px 70px 100px;}

    &__title--wrap {
    display: flex;
    justify-content: center;
        // align-items:center;
    }
    &__title-img {
        // padding: 25px 15px;
    }

    &__title {
        // padding: 25px 15px;
    margin: 0 40px;

    }
    &__title-text {
    @include fontCormorant-title (50px, $colorBlack);
    text-transform: capitalize;
    }
    
    &__group--wrap {
    }

    &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    &__item {
    padding: 45px;
    transition: path 0.7s easy-in-out;
    }

}
.partners__item:active {
    .partners__icon {path {fill:rgb(150, 62, 62);} }
    } 

.partners__icon {
        path {fill:#B1B1B1;}
    }