.practice-area {
    background-color: #161D27;

    .container {
        padding: 130px 30px;
    }

    &__block-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 0.3fr 1fr 1fr;
         gap: 20px 17px;
    }
    &__items {
        // border: 1px dashed red;
        background: #1F2732;
        padding: 50px ;
    }
    &__item-title--wrap { 
        background-color: #161D27;
   
        grid-row-start: 1;
        grid-column-start: 1;
        padding: 15px 0;
    

    }
.practice-area__title  {
    font-family: $fontCormorant;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    @include color(white);
    margin: 19px 0;

}

.practice-area__item-info--wrap {
    background-color: #161D27;
    grid-row-start: 1;
    grid-column: 2/4;
    padding: 95px 0 10px 200px;
}
.practice-area__info {
    font-family: $fontOutfit;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;

}
.practice-area__item-list--wrap {
    &-first {
    
    }
}
.practice-area__list-law {}

}

.list-law__title {
    font-family: $fontCormorant;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.list-law__note {
    font-family: $fontOutfit;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
    }

.practice-area__list-view {
    display: flex;
    justify-content: space-between;
}
.list-view__icon {}
