.button {
    display: block;
    width: 350px;
    height: 85px;
    border: none;
    @include fontOutfit (22px, 0, white);
    text-align: center;
    transition: background-color, color 0.4s ease-in-out ;
    
    
    &--grey {
        background-color:rgba(155, 139, 139, 0.575);
    }
    &--grey:hover, &--grey:focus, &--oliv:hover, &--oliv:focus {
        background-color: #5e543f;
    }
    &--oliv {
    width: 269px;
    background-color: #D1B06B;
    }
   
    &--history {
    width: 302px;
    background-color: #D1B06B;
    color: #1F2732;
     }
     &--history:hover, &--history:focus {
        background-color: #7e7052;
        color:#FFFFFF;
    }

    &__list-view {
        width: 187px;
        height: 58px;
        background: #161D27;

    }
    &__list-view:hover, &__list-view:focus {
        background-color: #7e7052;
        color:#161D27;
    }

    &--contact-us {
        width: 257px;
        background: #D1B06B;
        color: #1F2732;
    }
    &--contact-us:hover, &--contact-us:focus {
        background-color: #7e7052;
        color: white;
    }
    &--get-in-center {
        background-color: white;
        width: 305px;
       
        margin: 25px auto 25px auto;
        @include fontOutfit (25px, 0, #3B434E);
        font-weight: 700;
    }
    &--get-in-center:hover {
        background-color: #7e7052;
        color: white;
    } 
}
.button:active, .button:hover {
    cursor: pointer;
}
.frame {
    width: 95px;
    height: 44px;
    border-radius: 0px;
    margin-bottom: 60px;
    display: block;

    &--in-center {
        margin: 11px auto 60px auto;

    }

    &-center {
        width: 95px;
        height: 80px;
        // margin: 0 auto 40px auto;
    }

}

.separator {
    width: 320px;
    height: 1px;
    border: 1px solid #4E555F;
    margin: 28px 0 57px 0; 
    
    &--blogs {
        width: 100%;
        margin: 26px 0 0 0; 
    }
}

