@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    
}

@mixin color ($color) {
    color: $color;
}


@mixin fontOutfit-oliv ($fontSize, $lineHeight:0)   {
font-family: $fontOutfit;
font-weight: 400;
font-size: $fontSize;
line-height: $lineHeight;
letter-spacing: 0.4px;
color: $colorOlive;
}
@mixin fontOutfit-white ($fontSize, $lineHeight:0 )   {
    font-family: $fontOutfit;
    font-weight: 400;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: 0.4px;
    color: $colorWtite;
    }
@mixin fontCormorant-title ($fontSize)   {
    font-family: $fontCormorant;
    font-weight: 400;
    font-size: $fontSize;
    letter-spacing: 0.4px;
    }
    @mixin fontCormorant-text ($fontSize)   {
        font-family: $fontCormorant;
        font-weight: 400;
        font-size: $fontSize;
        letter-spacing: 0.4px;
        line-height: $lineHeight;
    
    }