$fontOutfit: 'Outfit', sans-serif;
$fontCormorant: 'Cormorant Garamond', sans-serif;

$colorWtite: white;
$colorBlack: black;
$colorBlueDark: #161D27;
$colorBlueLight: #2E3947;

$colorOlive: #D1B06B;
$colorGrey:#E5E5E5;


