$fontOutfit: 'Outfit', sans-serif;
$fontCormorant: 'Cormorant', sans-serif;

$colorWtite: white;
$colorBlack: black;
$colorBlueDark: #161D27;
$colorBlueLight: #1F2732;
$colorOlive: #D1B06B;

$fontSize: 20px;
$lineHeight: 26px;

