@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: white;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid blueviolet;
}

.button {
  display: block;
  width: 350px;
  height: 85px;
  border: none;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #FFFFFF;
}
.button--grey {
  background: rgba(155, 139, 139, 0.575);
}
.button--oliv {
  width: 269px;
  height: 85px;
  background: #D1B06B;
  font-family: "Outfit";
  line-height: 35px;
  color: #1F2732;
}

.frame {
  width: 95px;
  height: 44px;
  border-radius: 0px;
  margin-bottom: 14px;
}

.header-banner--wrapper {
  background-image: url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-attornest .container {
  border: none;
}
.header-attornest__logo-block {
  padding: 41px 0;
  border-bottom: 1px solid #4E555F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-attornest__logo__logo-img {
  padding: 10px;
}
.header-attornest__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 45px 0;
  border-bottom: 1px solid #4E555F;
}
.header-attornest__nav--wrapp {
  width: 59%;
}
.header-attornest__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-attornest__nav-item {
  padding: 15px;
  margin-right: 46px;
}
.header-attornest__nav-item:last-child {
  margin-right: 0;
}
.header-attornest__nav-link {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.header-attornest__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.header-info__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info__item-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-info__block-circle {
  width: 62px;
  height: 62px;
  position: relative;
  border: 2px solid #D1B06B;
  border-radius: 100px;
}
.header-info__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 18px;
}
.header-info__descr--wrap {
  padding: 10px;
}
.header-info__text {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.header-info__phone-number, .header-info__email {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.active {
  color: #D1B06B;
}

.banner__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 25px 0 25px 0;
}
.banner-item__info {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-top: 130px;
}
.banner-item__photo {
  grid-column-start: 2;
  grid-row-start: 1;
  background: transparent;
}
.banner-item__img {
  max-width: 100%;
  min-height: 100%;
}
.banner-item__descr-title {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.banner-item__descr-text {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 28px;
}

.welcome {
  background-color: #161D27;
}
.welcome__block-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 140px 35px;
  gap: 20px 35px;
}
.welcome__items-imgTop {
  grid-row-start: 1;
  grid-column-start: 1;
}
.welcome__items-imgBottom {
  grid-row-start: 2;
  grid-column-start: 1;
}
.welcome .welcome__items-descr {
  padding: 20px 15px 5px 20px;
}
.welcome .welcome__items-title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.welcome .welcome__frame {
  margin-bottom: 40px;
}
.welcome .welcome__items-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.welcome .welcome__items-mainAttorney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.welcome__repsesent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 17px 0 45px 0;
}

.represent__photo-mainAttorney--wrap {
  padding-right: 15px;
}

.represent__name-mainAttorney {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.welcome__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.welcome__block {
  width: 315px;
  height: 126px;
  padding: 36px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: start;
}

.welcome__block-success {
  background: #4e5866;
}

.block-descr__text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.block-descr__text--black {
  color: black;
}

.welcome__block-experience {
  background: #D1B06B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-experience--blue-color {
  width: 81px;
  height: 59px;
  background: #161D27;
  padding: 15px 0 15px 0;
  border-radius: 10%;
}

.block-experience__icon {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */