@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: white;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid blueviolet;
}

.button {
  display: block;
  width: 350px;
  height: 85px;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #FFFFFF;
}
.button--grey {
  background: rgba(155, 139, 139, 0.575);
}
.button--oliv {
  width: 269px;
  height: 85px;
  background: #D1B06B;
  font-family: "Outfit";
}
.button--history {
  width: 302px;
  height: 85px;
  background: #D1B06B;
  color: #1F2732;
}
.button__list-view {
  width: 187px;
  height: 58px;
  background: #161D27;
}

.frame {
  width: 95px;
  height: 44px;
  border-radius: 0px;
  margin-bottom: 60px;
  display: block;
}
.frame--in-center {
  margin: 11px auto 40px auto;
}
.frame-center {
  width: 95px;
  height: 80px;
}

.separator {
  width: 320px;
  height: 1px;
  border: 1px solid #4E555F;
  margin: 28.3px 0 56.7px 0;
}

.header-banner--wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 53, 71, 0.5)), to(rgba(53, 53, 71, 0.5))), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
  background-image: linear-gradient(rgba(56, 53, 71, 0.5), rgba(53, 53, 71, 0.5)), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-attornest .container {
  border: none;
}
.header-attornest__logo-block {
  padding: 41px 0;
  border-bottom: 1px solid #4E555F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-attornest__logo__logo-img {
  padding: 10px;
}
.header-attornest__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 45px 0;
  border-bottom: 1px solid #4E555F;
}
.header-attornest__nav--wrapp {
  width: 59%;
}
.header-attornest__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-attornest__nav-item {
  padding: 15px;
  margin-right: 46px;
}
.header-attornest__nav-item:last-child {
  margin-right: 0;
}
.header-attornest__nav-link {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.header-attornest__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.header-info__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info__item-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-info__block-circle {
  width: 62px;
  height: 62px;
  position: relative;
  border: 2px solid #D1B06B;
  border-radius: 100px;
}
.header-info__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 18px;
}
.header-info__descr--wrap {
  padding: 10px;
}
.header-info__text {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.header-info__phone-number, .header-info__email {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.active {
  color: #D1B06B;
}

.banner__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 25px 0 25px 0;
}
.banner-item__info {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-top: 130px;
}
.banner-item__photo {
  grid-column-start: 2;
  grid-row-start: 1;
  background: transparent;
}
.banner-item__img {
  max-width: 100%;
  min-height: 100%;
}
.banner-item__descr-title {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.banner-item__descr-text {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 28px;
}

.welcome {
  background-color: #161D27;
}
.welcome__block-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 140px 35px;
  gap: 20px 35px;
}
.welcome__items-imgTop {
  grid-row-start: 1;
  grid-column-start: 1;
}
.welcome__items-imgBottom {
  grid-row-start: 2;
  grid-column-start: 1;
}
.welcome .welcome__items-descr {
  padding: 20px 15px 5px 20px;
  grid-row-start: 1;
  grid-column-start: 2;
}
.welcome .welcome__items-title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.welcome .welcome__frame {
  margin-bottom: 40px;
}
.welcome .welcome__items-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.welcome .welcome__items-mainAttorney {
  grid-row-start: 2;
  grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.welcome__repsesent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 17px 0 45px 0;
}

.represent__photo-mainAttorney--wrap {
  padding-right: 15px;
}

.represent__name-mainAttorney {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.welcome__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.welcome__block {
  width: 315px;
  height: 126px;
  padding: 36px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: start;
}

.welcome__block-success {
  background: #4e5866;
}

.block-descr__text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.block-descr__text--black {
  color: black;
}

.welcome__block-experience {
  background: #D1B06B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-experience--blue-color {
  width: 81px;
  height: 59px;
  background: #1F2732;
  padding: 15px 0 15px 0;
  border-radius: 10%;
}

.block-experience__icon {
  width: 100%;
  height: 100%;
}

.practice-area {
  background-color: #161D27;
}
.practice-area__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 70px 35px;
  gap: 20px 35px;
}
.practice-area__items {
  background: #1F2732;
  padding: 55px 50px 70px 50px;
}
.practice-area__item-title--wrap {
  background-color: #161D27;
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 125px 0 10px 0;
}
.practice-area .practice-area__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: white;
  margin-bottom: 19px;
}
.practice-area .practice-area__item-info--wrap {
  background-color: #161D27;
  grid-row-start: 1;
  grid-column: 2/4;
  padding: 160px 0 10px 200px;
}
.practice-area .practice-area__info {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.list-law__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.list-law__note {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.practice-area__list-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results .container {
  padding: 124px 25px 82px 25px;
}
.results__description-title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
}
.results__description-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #909090;
}
.results__description-text-second {
  margin-bottom: 60px;
}
.results__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.results__list {
  width: 33.3333333333%;
  height: 180px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.results__list--darkFon {
  background: url(../images/parnners_fon-button.png);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.results__list-picture--wrap {
  width: 118px;
  height: 120px;
  border: 1px solid #D1B06B;
  padding-top: 35px;
  text-align: center;
}
.results__list-icon {
  width: 22px;
  height: 20px;
  color: #D1B06B;
}
.results__list-icon--star {
  width: 25px;
  height: 24px;
}
.results__list-quantity {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.results__list-client {
  padding: 5px 25px;
}
.results__list-client--darkFon {
  padding: 5px 65px 5px 35px;
}

.list-client__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #1F2732;
  margin-bottom: 5px;
}
.list-client__title--darkFon {
  color: #FFFFFF;
}
.list-client__subjest {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #909090;
}
.list-client__subjest--darkFon {
  color: #FFFFFF;
}

.partners .container {
  padding: 80px 110px 70px 100px;
}
.partners__title--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__title {
  margin: 0 40px;
}
.partners__title-text {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__item {
  padding: 45px;
}
.history-specialised .container {
  background: url(../images/background_history.jpg);
  background-size: cover;
  padding: 140px 40px;
}

.history-specialised--wrap {
  background: rgba(31, 39, 50, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history-block {
  width: 40%;
  padding: 90px 60px 102px 60px;
}
.history-block_title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.history-block_descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 32px;
  color: #D7D7D7;
}
.history-block_descr--oliv {
  color: #D1B06B;
  margin-bottom: 13px;
}

.history-specialised__main-picture--wrap {
  width: 20%;
  height: 100%;
  background: url(../images/background-fon.jpg);
}

.specialised-block {
  padding: 90px 50px 102px 90px;
  width: 40%;
}
.specialised-block__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.specialised-block_descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.revies {
  background: #161D27;
}
.revies .container {
  padding: 120px 0 212px;
}
.revies__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.revies__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.revies__items-clientNatasha {
  grid-row-start: 1;
  grid-column: 1;
}
.revies__items-clientHanna {
  grid-row-start: 1;
  grid-column: 2;
}
.revies__items-clientPhillip {
  grid-row-start: 1;
  grid-column: 3;
}
.revies__items-clientJoshua {
  grid-row-start: 1;
  grid-column: 4;
}
.revies__items-post--wrap {
  background: #1F2732;
  padding: 52px 45px 80px 37px;
  margin-bottom: 20px;
  border-radius: 0 0 0 40px;
}
.revies__items-post--wrap-topRadius {
  border-radius: 40px 0 0 0;
}
.revies__items-post {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.revies__items-client--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.revies__icons--quotes {
  margin-bottom: 33px;
}
.revies__client-name {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.revies__client-position {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}/*# sourceMappingURL=main.css.map */