@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: white;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  display: block;
  width: 350px;
  height: 85px;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: white;
  text-align: center;
  -webkit-transition: background-color, color 0.4s ease-in-out;
  transition: background-color, color 0.4s ease-in-out;
}
.button--grey {
  background-color: rgba(155, 139, 139, 0.575);
}
.button--grey:hover, .button--grey:focus, .button--oliv:hover, .button--oliv:focus {
  background-color: #5e543f;
  color: #D1B06B;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.button--oliv {
  width: 269px;
  background-color: #D1B06B;
}
.button--history {
  width: 302px;
  background-color: #D1B06B;
  color: #1F2732;
}
.button--history:hover, .button--history:focus {
  background-color: #7e7052;
  color: #FFFFFF;
}
.button__list-view {
  width: 187px;
  height: 58px;
  background: #161D27;
}
.button__list-view:hover, .button__list-view:focus {
  background-color: #7e7052;
  color: #161D27;
}
.button--contact-us {
  width: 257px;
  background: #D1B06B;
  color: #1F2732;
}
.button--contact-us:hover, .button--contact-us:focus {
  background-color: #7e7052;
  color: white;
}
.button--get-in-center {
  background-color: white;
  width: 305px;
  margin: 25px auto 25px auto;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: #3B434E;
  font-weight: 700;
}
.button--get-in-center:hover {
  background-color: #7e7052;
  color: white;
}

.button:active, .button:hover {
  cursor: pointer;
}

.frame {
  width: 95px;
  height: 44px;
  border-radius: 0px;
  margin-bottom: 60px;
  display: block;
}
.frame--in-center {
  margin: 11px auto 60px auto;
}
.frame-center {
  width: 95px;
  height: 80px;
}

.separator {
  width: 320px;
  height: 1px;
  border: 1px solid #4E555F;
  margin: 28px 0 57px 0;
}
.separator--blogs {
  width: 100%;
  margin: 26px 0 0 0;
}
.separator--results {
  width: 100%;
  border-color: rgb(223, 215, 215);
  margin: 80px 0 0 0;
}

.header-attornest {
  width: 100%;
  position: absolute;
}
.header-attornest .container {
  border: none;
}
.header-attornest__logo-block {
  padding: 40px 0;
  border-bottom: 1px solid #4E555F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-attornest__logo:hover {
  cursor: pointer;
}
.header-attornest__logo:hover-img {
  padding: 46px 20px;
}
.header-attornest__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid #4E555F;
}
.header-attornest__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-attornest__nav-item {
  padding: 55px 20px;
  margin-right: 10px;
}
.header-attornest__nav-item:last-child {
  margin-right: 0;
}
.header-attornest__nav-link {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-attornest__nav-link:hover {
  color: #D1B06B;
}
.header-attornest__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header-info__item-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info__block-circle {
  width: 62px;
  height: 62px;
  position: relative;
  border: 2px solid #D1B06B;
  border-radius: 100px;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.header-info__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 18px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-info__icon path {
  fill: white;
}
.header-info__icon-link:hover {
  cursor: pointer;
}
.header-info__block-circle:hover {
  border-color: white;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.header-info__block-circle:hover .header-info__icon path {
  fill: #D1B06B;
}
.header-info__descr--wrap {
  width: 205px;
  height: 62px;
}
.header-info__text-link {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.header-info__phone-number, .header-info__email-link {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: white;
}
.header-info__phone-number:hover, .header-info__email-link:hover {
  color: #D1B06B;
  -webkit-transform: scale(1.2, 1.15);
          transform: scale(1.2, 1.15);
}

.active {
  color: #D1B06B;
}

.banner {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(66, 55, 55, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
  background-image: linear-gradient(to right, rgba(66, 55, 55, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-fon.jpg), url(../images/background-fon-buttom.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}
.banner .container {
  padding: 320px 5px 0 40px;
}
.banner__frame {
  margin: 90px 0 15px 0;
}
.banner__block-grid {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
}
.banner-item__photo {
  background: transparent;
  width: 672px;
  height: 708px;
}
.banner-item__img {
  max-width: 100%;
  min-height: 100%;
}
.banner-item__descr-title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 65px;
  letter-spacing: 0.4px;
  color: white;
  line-height: 78px;
  margin-bottom: 21px;
}
.banner-item__descr-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 28px;
}

.welcome {
  background-color: #161D27;
}
.welcome .container {
  padding: 70px 40px;
}
.welcome__block-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 35px;
}
.welcome__items-imgTop {
  grid-row: 1;
}
.welcome__items-imgBottom {
  grid-row: 2;
}
.welcome__items__items-descr {
  padding: 20px 15px 5px 20px;
}
.welcome__items-title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  color: white;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 11px;
}
.welcome__frame {
  margin-bottom: 40px;
}
.welcome__items-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.welcome__items-mainAttorney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.welcome__repsesent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 17px 0 45px 0;
}

.represent__photo-mainAttorney--wrap {
  padding-right: 15px;
}
.represent__name-mainAttorney {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: white;
}

.welcome__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}
.welcome__block {
  width: 315px;
  height: 126px;
  padding: 36px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: start;
}
.welcome__block-success {
  background: #4e5866;
}
.welcome__block-experience {
  background: #D1B06B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__descr__text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.block__descr__text--black {
  color: black;
}
.block-experience--blue-color {
  width: 81px;
  height: 59px;
  background: #1F2732;
  padding: 15px 0 15px 0;
  border-radius: 10%;
}
.block-experience__icon {
  width: 100%;
  height: 100%;
}

.practice-area {
  background-color: #161D27;
}
.practice-area .container {
  padding: 100px 40px;
}
.practice-area__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  gap: 20px 17px;
}
.practice-area__items {
  background: #1F2732;
  padding: 50px;
}
.practice-area__item-title--wrap {
  background-color: #161D27;
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 15px 0;
}
.practice-area .practice-area__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: white;
  margin: 19px 0;
}
.practice-area .practice-area__item-info--wrap {
  background-color: #161D27;
  grid-row-start: 1;
  grid-column: 2/4;
  padding: 95px 0 10px 200px;
}
.practice-area .practice-area__info {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.list-law__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.list-law__note {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.practice-area__list-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results .container {
  padding: 124px 40px 82px 40px;
}
.results__description-title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
}
.results__description-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #909090;
}
.results__description-text-second {
  margin-bottom: 60px;
}
.results__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.results__list {
  width: 33.3333333333%;
  height: 180px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.results__list--darkFon {
  background: url(../images/parnners_fon-button.png);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.results__list-picture--wrap {
  width: 118px;
  height: 120px;
  border: 1px solid #D1B06B;
  padding-top: 35px;
  text-align: center;
}
.results__list-icon--wrap:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.results__list-icon {
  width: 22px;
  height: 20px;
}
.results__list-icon path {
  fill: #D1B06B;
}
.results__list-icon--star {
  width: 25px;
  height: 24px;
}
.results__list-picture--wrap:hover {
  cursor: pointer;
}
.results__list-picture--wrap:hover .results__list-icon path {
  fill: rgb(150, 62, 62);
}
.results__list-quantity {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.results__list-client {
  padding: 5px 25px;
}
.results__list-client--darkFon {
  padding: 5px 65px 5px 35px;
}

.list-client__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #1F2732;
  margin-bottom: 5px;
}
.list-client__title--darkFon {
  color: #FFFFFF;
}
.list-client__subjest {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #909090;
}
.list-client__subjest--darkFon {
  color: #FFFFFF;
}

.partners .container {
  padding: 80px 110px 70px 100px;
}
.partners__title--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__title {
  margin: 0 40px;
}
.partners__title-text {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.4px;
  color: black;
  text-transform: capitalize;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__item {
  padding: 45px;
}

.partners__item:active, .partners__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.partners__item:active .partners__icon path, .partners__item:hover .partners__icon path {
  fill: rgb(150, 62, 62);
}

.partners__icon path {
  fill: #B1B1B1;
  -webkit-transition: path 0.5s easy-in-out;
  transition: path 0.5s easy-in-out;
}

.history-specialised {
  background: url(../images/background_history.jpg);
  background-size: cover;
}
.history-specialised .container {
  padding: 140px 40px;
}
.history-specialised--wrap {
  padding: 80px 60px;
  background: rgba(31, 39, 50, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.history-block {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history-block_title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.history-block_descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 32px;
  color: #D7D7D7;
}
.history-block_descr--oliv {
  color: #D1B06B;
  margin-bottom: 13px;
}

.history-specialised__main-picture--wrap {
  width: 20%;
  height: 100%;
  background: url(../images/background-fon.jpg);
}

.history-specialised__main-picture {
  width: 100%;
  height: 900px;
}

.specialised-block {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.specialised-block__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.specialised-block_descr, .specialised-block .history-specialised__form-item {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.history-specialised__form--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history-specialised__form-item {
  padding: 15px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #D1B06B;
  -o-border-image: linear-gradient(to right, rgb(236, 176, 46) 280px, rgb(247, 239, 239) 20px);
     border-image: linear-gradient(to right, rgb(236, 176, 46) 280px, rgb(247, 239, 239) 20px);
  border-image-slice: 1;
  margin-bottom: 40px;
  background: rgba(31, 39, 50, 0.15);
}

.revies {
  background: #161D27;
}
.revies .container {
  padding: 120px 40px 212px 40px;
}
.revies__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.revies__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.revies__items-clientNatasha {
  grid-row-start: 1;
  grid-column: 1;
}
.revies__items-clientHanna {
  grid-row-start: 1;
  grid-column: 2;
}
.revies__items-clientPhillip {
  grid-row-start: 1;
  grid-column: 3;
}
.revies__items-clientJoshua {
  grid-row-start: 1;
  grid-column: 4;
}
.revies__items-post--wrap {
  background: #2E3947;
  padding: 52px 45px 80px 37px;
  margin-bottom: 20px;
  border-radius: 0 0 0 40px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.revies__items-post--wrap:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.revies__items-post--wrap-topRadius {
  border-radius: 40px 0 0 0;
}
.revies__items-post {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}
.revies__items-client--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}
.revies__icons--quotes {
  margin-bottom: 33px;
}
.revies__client-name {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.revies__client-position {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

div.revies__items-post--wrap-topRadius {
  margin-bottom: 0;
}

div.revies__items-client--wrap-bottom {
  margin-bottom: 0;
}

.answers-questions {
  background: white;
}
.answers-questions .container {
  padding: 124px 40px 131px 40px;
}
.answers-questions__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  color: #161D27;
  text-transform: capitalize;
  text-align: center;
}
.answers-questions__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.answers-questions__items {
  width: 100%;
}
.answers-questions__items-attorney--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}
.answers-questions__items-attorney--wrap:hover .answers-questions__media--wrap {
  display: block;
}
.answers-questions__attorney {
  background-color: #D1B06B;
}
.answers-questions__attorney-photo {
  width: 100%;
}
.answers-questions__attorney-img {
  width: 100%;
}
.answers-questions__attorney-name {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  line-height: 30px;
  color: black;
}
.answers-questions__attorney-position {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.answers-questions__media--wrap {
  display: none;
  width: 217px;
  height: 66px;
  position: absolute;
  bottom: 72px;
  left: 95px;
}
.answers-questions__media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  border: 3px solid #D1B06B;
  background-color: #D1B06B;
  -webkit-transition: background-color 0.2s easy-in-out;
  transition: background-color 0.2s easy-in-out;
}
.answers-questions__media-list:hover {
  background-color: #D1B06B;
}
.answers-questions__media-link:hover .answers-questions__media-icon path {
  fill: rgb(204, 76, 53);
}
.answers-questions__media-icon path {
  fill: #1F2732;
}

.contact-us {
  background-color: #161D27;
}
.contact-us .container {
  padding: 150px 40px;
}
.contact-us__offer--wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-us__offer--left-part {
  width: 50%;
  margin-right: 65px;
}
.contact-us__offer--right-part {
  width: 50%;
}
.contact-us__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  color: white;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.contact-us__descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  margin-bottom: 37px;
}
.contact-us__offer--right-part {
  background-color: white;
  width: 50%;
}
.contact-us__offer--wrap-greyBorderBlock {
  border: 15px solid #D7D7D7;
  width: 550px;
  height: 410px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  padding: 70px 37px 78px 27px;
}
.contact-us__title-secondary {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 0.4px;
  color: #1F2732;
  margin-bottom: 12px;
}
.contact-us__descr--right-part {
  color: #909090;
  margin-bottom: 37px;
}
.contact-us__phon-group--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}
.contact-us__phon-icon--wrap {
  background-color: #D1B06B;
  width: 70px;
  height: 70px;
  padding: 22px;
}
.contact-us__phon-icon--wrap:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
}
.contact-us__phon-icon--wrap:hover .contact-us__phon-img path {
  fill: #7e7052;
}
.contact-us__phon-img {
  width: 27px;
  height: 27px;
}
.contact-us__phon-img path {
  fill: white;
}
.contact-us__phon-img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.contact-us__phon-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contact-us__phon-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.contact-us__phon-number {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.contact-us__phon-number:hover {
  color: #7e7052;
}

.get-in-appointment {
  background: url(../images/welcome_photo/welcome_top_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.get-in-appointment .container {
  padding: 140px 40px;
}
.get-in-appointment__form-control {
  background: #1F2732;
  padding: 89px 100px 105px 100px;
}
.get-in-appointment__form {
  width: 100%;
}
.get-in-appointment__form--wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form__top-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.form__bottom-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.form__item {
  width: 50%;
  padding: 27px 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #3B434E;
  background: #1F2732;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: white;
}
.form__item-message {
  width: 100%;
  padding: 100px 0;
}
.form__message-area {
  width: 100%;
}
.blogs {
  background: #1F2732;
}
.blogs .container {
  padding: 140px 40px 25px 40px;
}
.blogs__title-main {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  color: white;
  text-align: center;
}
.blogs__description--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  border-bottom: 1px solid #4E555F;
}
.blogs__photo--wrap {
  width: 50%;
}
.blogs__img {
  width: 100%;
  height: 100%;
}
.blogs__info-block--wrap {
  width: 50%;
  padding: 70px 35px 192px 50px;
}

.info-block__note {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: #D1B06B;
  padding: 10px 50px 10px 10px;
}
.info-block__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.4px;
  color: white;
  margin: 25px 0 21px 0;
}
.info-block__text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 17px;
}
.info-block__link {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 17px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  text-transform: capitalize;
  text-decoration: underline;
}
.info-block__link:hover, .info-block__link:active {
  color: wheat;
}

.blogs-post__block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 1fr 0.8fr;
  gap: 20px 20px;
  padding: 100px 0 0 0;
}
.blogs-post__item {
  padding: 5px;
}
.blogs-post__item-picture--narrow {
  padding: 25px;
}
.blogs-post__picture {
  width: 100%;
  height: 367px;
  display: inline-block;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.blogs-post__picture:hover {
  -webkit-transform: scale(-1, 1.1);
          transform: scale(-1, 1.1);
}
.blogs-post__subtitle {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin: 10px 0;
}
.blogs-post__title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 22px;
}
.blogs-post__descr {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 25px;
}
.blogs-post__link-secondary {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 17px;
  text-decoration: underline;
}
.blogs-post__link-secondary:hover, .blogs-post__link-secondary:active {
  color: wheat;
}

.block-photo {
  background: url(../images/footer/footer_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.block-photo .container {
  width: 100%;
  height: 248px;
}

.footer {
  background: #1F2732;
}
.footer .container {
  padding: 130px 40px 100px 40px;
}
.footer__logo-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item {
  width: 33.3333333333%;
}
.footer__frame-left {
  margin: auto;
  width: 100%;
}
.footer__frame-right {
  margin: auto;
  width: 100%;
}
.footer-navigation--wrap {
  padding: 93px 0 84px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.footer-navigation__chapter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px 35px;
}
.footer-navigation__title {
  display: inline-block;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: white;
  border-bottom: 1px solid #3B434E;
  border-top: 1px solid #3B434E;
  padding: 25px 0;
}
.footer-navigation__chapter--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 25px;
}
.footer-navigation__chapter-list {
  padding: 10px;
  margin-bottom: 15px;
}
.footer-navigation__chapter-list:last-child {
  margin-bottom: 0;
}
.footer-navigation__chapter-link {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: white;
}

.footer__finished-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #3B434E;
  border-bottom: 1px solid #3B434E;
}
.footer-coppiraght {
  display: inline-block;
  width: 80%;
  padding: 20px 0;
}
.footer-coppiraght__text {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
}
.footer__word-oliv {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
}
.footer__word-oliv:hover {
  color: #D1B06B;
}

.footer-media--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-media__descr {
  padding: 25px;
}
.footer-media__text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 0;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.footer-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer-media__list-items {
  padding: 25px 10px;
}
.footer-media__list-link:hover .footer-media__list-icon path {
  fill: #D1B06B;
}
.footer-media__list-icon path {
  fill: #FFFFFF;
}

.footer-media__list-icon path {
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */